 <div id="<%= dom_id message %>" class="message">
  <strong><%= message.user.email_address %> :</strong>
  <%= message.content %>
  <%= button_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>