<%= link_to messages_path(room_id: room.id), data: { turbo_frame: 'room-messages' }, class: "delete-underline" do %>
  <div class='room'>
    <div class= "select-room">
      <%= room.name %>
    </div>
    
  </div>
<% end %>
